*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
    
}

.png{
    position:absolute;
    width:100%;
    height:100%;
    top: 0;
    left:0;
}

.header{
    position: fixed;
    height:50px;
    line-height:50px;
    background-color: #2874f0;
    color: white;
    width: 100%;

}

.header, .one, .two{
    display: inline-flex;
}
.logo{
    position: relative;
    width: 75px;
    height: 20px;
    margin: auto;
    margin-left: 200px;
}
.search{
    margin-left: 10px;
    margin-right: 100px;
}
.search form{
    display: inline-flex;
}
.search input{
    height: 30px;
    width: 500px;
    border-radius: 5px 0px 0px 5px;
    text-indent: 20px;
    border: none;
    border-style: none;
    font-weight: 500;
    outline: none;
}
.search button{
    height: 30px;
    width: 50px;
    border-radius: 0px 5px 5px 0px;
    border: none;
    background-color: white;
    font-size: 18px;
    color: #2874f0;

}
.two ul{
    display: inline-flex;
    list-style: none;
}


.two ul li{
    height: 30px;
    width: 100px;
    font-weight: 500;
    cursor: pointer;

}
.login{
    background-color: white;
    margin: auto;
    color: #2874f0;
    margin-right: 50px;
    line-height: 30px;
     text-align: center;
}
.cart{
    display: inline-flex;
}

.cart .cart_cir{
    width: 20px;
    height: 20px;
    background-color: orange;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    margin: auto;
    margin-left: 0;
    font-size: 12px;
    color: black;

}
.three{
    background-color:white;
    width: 100%;
    height: 200px;
    line-height: 50px;
}
.three, .four{
    display: inline-flex;
}
.four ul{
    list-style-type: none;
    display: inline-flex;
    margin: auto;
    height: 50px;
    width: 100px;
    margin-left: 80px;
    
}
.footer{
    background-color:black;
    width: 100%;
    height: 300px;
    

}
.list {
    margin-left: 5%;
    color: white;
    font-weight: 100;
    font-size: 12px;
    width: 45%;
    line-height: 200%;
}
.list tr td{
    display: table-cell;
}

.listt{
    
    color: cornsilk;
    width: 45%;
    display: table-cell;
}
.footer,.list,.listt{
    display: inline-flex;
}




